<h1>User Show Page</h1>
<h1><%= @user.name %></h1>
<% if @user.avatar %>
    <img src= '<%= @user.avatar.thumb.url %>'>
<% end %>
<h3><%= flash[:notice] %></h3>
<% if @user.purchases.any? %>
  <h3>User Purchases</h3>
  <% @user.purchases.each do |deal| %>
    <% if deal.seller_id != deal.buyer_id && deal.product%>
      <p><%= link_to deal.product.name, product_path(deal.product) %></p>
    <% end %>
  <% end %>
<% end %>
<% if @user.sales.any? %>
  <h3>User Sales</h3>
  <% @user.sales.each do |deal|%>
    <% if deal.seller_id == deal.buyer_id && deal.product%>
      <p><%= link_to deal.product.name, product_path(deal.product)  %></p>
    <% end %>
  <% end %>
  <h3>User Sold Items</h3>
  <% @user.sales.each do |deal|%>
    <% if deal.seller_id != deal.buyer_id && deal.product%>
      <p><%= link_to deal.product.name, product_path(deal.product)  %></p>
    <% end %>
  <% end %>
<% end %>
</div>
<p><%= link_to "Sell a product", new_product_path %></p>
