<center>
  <p class='notice'><%= flash[:notice] %></p>
  <h1>Welcome! <%= @user.name %></h1>
  <% if @user.purchases.any? %>
    <h3>User Purchases</h3>
    <% @user.purchases.each do |deal| %>
      <% if deal.buyer_id == current_user.id && deal.product%>
        <p class="user"><%= link_to deal.product.name, product_path(deal.product) %></p>
      <% end %>
    <% end %>
  <% end %>

  <% if @user.sales.any? %>
    <h3>User Sales</h3>
    <% @user.sales.each do |deal|%>
      <% if deal.seller_id && deal.product && !deal.buyer_id%>
        <p class="user"><%= link_to deal.product.name, product_path(deal.product) %></p>
      <% end %>
    <% end %>

    <h3>User Sold Items</h3>
    <% @user.sales.each do |deal|%>
      <% if deal.buyer_id && deal.product%>
        <p class="user"><%= link_to deal.product.name, product_path(deal.product) %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
</div>
</div>
<p id='sell'><%= link_to "Sell a product", new_product_path %>
<i class="fas fa-dollar-sign"></i>
</p>
