<h1>Products Index Page</h1>
<%= form_tag(products_path, method: :get) do %>
  <h3><%= label_tag :category, "Search category for products:" %><br></h3>
  <%= text_field_tag :category %>
  <%= submit_tag "Search",name: nil %>
<% end %>
<% @products.each do |product| %>
  <p><%= link_to product.name, product%></p>
<% end %>
