<h1>Product show page</h1>
<h2><%= @product.name %></h2>
<p><%= @product.description %></p>
<p>$<%= @product.price %></p>
<p><%= @product.location %></p>
<p>Likes <%= @product.likes.count %></p>
<p><%= button_to "Delete this product", @product, method: :delete %></p>
<% @product.avatars.each do |image| %>
  <img src='<%= image.url %>' >
<% end %>
