<h1>Product show page</h1>
<h2><%= @product.name %></h2>
<p><%= @product.description %></p>
<p>$<%= @product.price %></p>
<p><%= @product.location %></p>



<%= form_for @like, :html => {:id => 'like'} do |f| %>
  <%= hidden_field_tag "like[product_id]", @product.id  %>
  <%= button_tag(:class => "like_button") do %>
    <i class="fas fa-heart"> <span><%= @product.likes.count %></span></i>
  <% end %>
<% end %>

<% if current_user == @product.deal.seller%>
  <p><%= button_to "Update the buyer", edit_deal_path(@deal), method: :get %></p>
  <p><%= button_to "Delete this product", @product, method: :delete %></p>
<% end %>
<% @product.avatars.each do |image| %>
  <img src='<%= image.url %>' >
<% end %>
