<center>
<h1>Product show page</h1>
<h2><%= @product.name %></h2>
<p class='prod'><%= @product.description %></p>
<p class='prod'><%=@product.seller.email %></p>
<p class='prod'>$<%= @product.price %></p>
<p class='prod'><%= @product.location %></p>

<% if !Like.find_by(user_id: current_user.id, product_id: @product.id) %>
  <%= form_for @like, :html => {:id => 'like'} do %>
    <%= hidden_field_tag "like[product_id]", @product.id  %>
    <%= button_tag(:class => "like_button") do %>
      <span>Likes: <%= @product.likes.count %></span>  <i class="far fa-thumbs-up"> </i>
    <% end %>
  <% end %>
<% else %>
  <%= form_tag @like, method: :delete do %>
    <%= hidden_field_tag "like[product_id]", @product.id  %>
    <%= button_tag(:class => "like_button") do %>
      <span>Likes: <%= @product.likes.count %></span>  <i class="far fa-thumbs-down"> </i>
    <% end %>
  <% end %>
<% end %>

<% if current_user == @product.deal.seller%>
  <p><%= button_to "Update the buyer", edit_deal_path(@deal), method: :get %></p>
  <p><%= button_to "Delete this product", @product, method: :delete %></p>
  <p><%= button_to "Back to profile", profile_path, method: :get %></p>
<% end %>
<% @product.avatars.each do |image| %>
  <img src='<%= image.url %>'>
<% end %>
</center>
